<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Проверка безопасности</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/captcha.css') }}">
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>

    <script>
        function onCaptchaSuccess() {
            document.getElementById("captchaForm").submit();
        }
    </script>
</head>

<body>

<div class="card">
    <h2>Подтвердите, что вы не робот</h2>

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="flash">
                {% for message in messages %}
                    {{ message }}
                {% endfor %}
            </div>
        {% endif %}
    {% endwith %}

    <form id="captchaForm" method="POST">
        <div class="g-recaptcha"
             data-sitekey="6LfgCSQtAAAAAGZlCJNR0zVgRfpr2ULCoqo1kbCX"
             data-callback="onCaptchaSuccess">
        </div>
    </form>

</div>

</body>
</html>