<!DOCTYPE html>
<html lang="ru">
<head>
<meta charset="UTF-8">
<title>ТехноКад</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>

<body class="theme1 page-enter">

<div class="app">

<aside class="sidebar">

<div class="logo">
  <span class="techno">Техно</span>
  <span class="kad-wrap">
    <svg class="circle" viewBox="0 0 120 120">
      <circle cx="60" cy="60" r="50"/>
    </svg>
    <span class="kad">Кад</span>
  </span>
</div>

<nav class="menu">

<a href="#" onclick="openSection('admin')">
<span class="icon">
<img src="{{ url_for('static', filename='img/icon_administration.png') }}">
</span>
Администрирование
</a>

<a href="#" onclick="openSection('vacation')">
<span class="icon">
<img src="{{ url_for('static', filename='img/icon_shedule.png') }}">
</span>
График отпусков
</a>

<a href="#" onclick="openSection('reports')">
<span class="icon">
<img src="{{ url_for('static', filename='img/icon_report.png') }}">
</span>
Формирование отчетов
</a>

<a href="#" onclick="openSection('export')">
<span class="icon">
<img src="{{ url_for('static', filename='img/icon_print.png') }}">
</span>
Выгрузка
</a>

<a href="#" onclick="openSection('user-guide')">
<span class="icon">
<img src="{{ url_for('static', filename='img/icon_guide_user.png') }}">
</span>
Руководство пользователя
</a>

<a href="#" onclick="openSection('admin-guide')">
<span class="icon">
<img src="{{ url_for('static', filename='img/icon_guide_admin.png') }}">
</span>
Руководство администратора
</a>

<a href="#" onclick="openSection('about')" class="about-link">
<span class="icon">
<img src="{{ url_for('static', filename='img/icon_about.png') }}">
</span>
О сервисе
</a>

</nav>

<button id="themeToggle" class="theme-btn">
<img src="{{ url_for('static', filename='img/icon_theme.png') }}">
</button>

</aside>

<main class="content">

<div class="topbar"></div>

<div id="page-content" class="page section">
<h2>Добро пожаловать</h2>
</div>

</main>

</div>

<script src="{{ url_for('static', filename='js/main.js') }}"></script>

</body>
</html>
